/bug-alfresco-workflow-java-delegate-repo/.settings
/bug-alfresco-workflow-java-delegate-repo/target
/bug-alfresco-workflow-java-delegate-repo/.classpath
/bug-alfresco-workflow-java-delegate-repo/.project
/bug-alfresco-workflow-java-delegate-share/.project
/bug-alfresco-workflow-java-delegate-share/.settings
/bug-alfresco-workflow-java-delegate-share/target
